<footer class="bg-dark text-white pt-4">
    <div class="container">
        <div class="row">
            <!-- HỖ TRỢ KHÁCH HÀNG -->
            <div class="col-md-3 col-sm-6">
                <h5 class="text-uppercase fw-bold">Hỗ trợ khách hàng</h5>
                <ul class="list-unstyled">
                    <li><a href="tel:0933109009" class="text-light">Sản phẩm & Đơn hàng: 0933 109 009</a></li>
                    <li><a href="tel:0989439986" class="text-light">Kỹ thuật & Bảo hành: 0989 439 986</a></li>
                    <li><a href="mailto:info@bookbuy.vn" class="text-light">Email: info bookbuy.vn</a></li>
                    <li>Địa chỉ: 9 Lý Văn Phức, Tân Định, Q1, TP.HCM</li>
                    <li><a href="/lien-he.html" class="text-light">Sơ đồ đường đi</a></li>
                </ul>
            </div>

            <!-- TRỢ GIÚP -->
            <div class="col-md-3 col-sm-6">
                <h5 class="text-uppercase fw-bold">Trợ giúp</h5>
                <ul class="list-unstyled">
                    <li><a href="/Help/Index/#helporder" class="text-light">Hướng dẫn mua hàng</a></li>
                    <li><a href="/Help/Index/#paymenttype" class="text-light">Phương thức thanh toán</a></li>
                    <li><a href="/cau-hoi-thuong-gap.html#returnpolicy" class="text-light">Chính sách đổi - trả</a></li>
                    <li><a href="/cau-hoi-thuong-gap.html" class="text-light">Câu hỏi thường gặp (FAQs)</a></li>
                </ul>
            </div>

            <!-- TÀI KHOẢN CỦA BẠN -->
            <div class="col-md-3 col-sm-6">
                <h5 class="text-uppercase fw-bold">Tài khoản của bạn</h5>
                <ul class="list-unstyled">
                    <li><a href="/cap-nhat-tai-khoan.html" class="text-light">Cập nhật tài khoản</a></li>
                    <li><a href="/gio-hang.html" class="text-light">Giỏ hàng</a></li>
                    <li><a href="/lich-su-giao-dich/1.html" class="text-light">Lịch sử giao dịch</a></li>
                    <li><a href="/kiem-tra-don-hang.html" class="text-light">Kiểm tra đơn hàng</a></li>
                </ul>
            </div>

            <!-- BOOKBUY -->
            <div class="col-md-3 col-sm-6">
                <h5 class="text-uppercase fw-bold">BookBuy</h5>
                <ul class="list-unstyled">
                    <li><a href="/gioi-thieu-bookbuy.html" class="text-light">Giới thiệu bookbuy.vn</a></li>
                    <li><a href="https://www.facebook.com/Bookbuybookstore/" class="text-light">BookBuy trên
                            Facebook</a></li>
                    <li><a href="/lien-he.html" class="text-light">Liên hệ BookBuy</a></li>
                    <li><a href="/dat-hang-theo-yeu-cau.html" class="text-light">Đặt hàng theo yêu cầu</a></li>
                </ul>
            </div>
        </div>

        <!-- THANH TOÁN & MẠNG XÃ HỘI -->
        <div class="row mt-4">
            <div class="col-md-6">
                <h6 class="fw-bold">Chấp nhận thanh toán:</h6>
                <div class="d-flex gap-3">
                    <img src="https://bookbuy.vn/Images/frontend/base/visa-master.png" alt="Visa" width="50">
                    <img src="https://bookbuy.vn/Images/frontend/base/internet-banking-icon.png" alt="Lazada"
                        width="50">
                    <img src="https://bookbuy.vn/Images/frontend/base/moca_logo.png" alt="Tiki" width="50">
                </div>
            </div>
            <div class="col-md-6 text-md-end mt-3 mt-md-0">
                <h6 class="fw-bold">Kết nối với chúng tôi:</h6>
                <a href="https://www.facebook.com/Bookbuybookstore/" class="me-2">
                    <img src="https://bookbuy.vn/Images/frontend/base/social-facebook-icon.png" width="30">
                </a>
                <a href="https://www.instagram.com/bookbuy.vn" class="me-2">
                    <img src="https://bookbuy.vn/Images/frontend/base/instagram-icon.png" width="30">
                </a>
                <a href="https://www.tiktok.com/@bookbuy.vn">
                    <img src="https://bookbuy.vn/Images/frontend/base/tiktok.jpg" width="30">
                </a>
            </div>
        </div>

        <!-- COPYRIGHT -->
        <div class="text-center mt-4 py-3 border-top">
            <p class="mb-0">© 2025 BookBuy.vn. All Rights Reserved.</p>
        </div>
    </div>
</footer>